{{page-title "standard-template-plugin"}}

<RdfaEditorWithDebug 
  @rdfaEditorInit={{this.rdfaEditorInit}}
  @plugins={{this.plugins}}
  @editorOptions={{hash    
    showToggleRdfaAnnotations="true"
    showInsertButton=null  
    showRdfa="true"        
    showRdfaHighlight="true"
    showRdfaHover="true"   
    showPaper="true"       
    showSidebar="true"     
    showToolbarBottom=null 
  }}
  @toolbarOptions={{hash   
    showTextStyleButtons="true"
    showListButtons="true"
    showIndentButtons="true"
  }}>
  <h1>Dummy app - standard-template-plugin</h1>
</RdfaEditorWithDebug>
